In [1]:
'''Q1. Write a program to calculate the electricity bill
using only if statement?'''
units = int(input("enter your units"))
if units <=100:
    print("no charges")
elif units <=200:
    print("5 Rs per unit")
elif units >200:
    print("10 Rs per units")

enter your units 25

no charges

In [20]:
'''Q2. Write a program to accept percentage from the user and display
the grade according to the following criteria:'''
marks = int(input("enter your marks"))
if marks >=90:
    print("grade 'A'")
elif marks >=80:
    print("grade 'B'")
elif marks >=60:
    print("grade 'C'")
elif marks <60:
    print("grade 'D'")

enter your marks 55

grade 'D'

In [22]:
'''Q3. Accept the age of 4 people and display the youngest one?'''

age1 = int(input("Enter age of person 1: "))
age2 = int(input("Enter age of person 2: "))
age3 = int(input("Enter age of person 3: "))
age4 = int(input("Enter age of person 4: "))

youngest = min(age1, age2, age3, age4)

print("The youngest age is:", youngest)

Enter age of person 1:  18
Enter age of person 2:  22
Enter age of person 3:  24
Enter age of person 4:  16

The youngest age is: 16

In [23]:
'''Q4. A company decided to give bonus to employee
according to following criteria:'''
salary = float(input("enter your salary"))
years_of_service = float(input("enter your service"))

if years_of_service >10:
    bonus = 0.10*salary
elif years_of_service >=6 and years_of_service <10:
    bonus = 0.08*salary
elif years_of_service <6:
    bonus = 0.06*salary
print("Bonus amount is:", bonus)

enter your salary 25000
enter your service 7

Bonus amount is: 2000.0

In [25]:
'''Q5. Accept three numbers from the user and
display the second largest number?'''

num1 = int(input("enter your number:"))
num2 = int(input("enter your number:"))
num3 = int(input("enter your number:"))

numbers = [num1, num2, num3]

numbers.sort(reverse=True)

print("The second largest number is:", numbers[1])

enter your number: 5
enter your number: 4
enter your number: 6

The second largest number is: 5

In [45]:
'''Q7. Accept the marks of English, Math and Science,
Social Studies Subject and display the stream allotted
according to following:

All Subjects more than 80 marks — Science Stream

English >80 and Math, Science above 50 — Commerce Stream

English > 80 and social studies > 80 — Humanities'''

english = int(input("enter your english marks: "))
math = int(input("enter your math marks: "))
science = int(input("enter your science marks: "))
social_studies = int(input("enter your social studies marks: "))

if english >80 and math >80 and science >80 and social_studies >80:
    stream = "science"
elif english >80 and math >80 and science >50:
    stream  = "commerce"
elif english >80 and social_studies >80:
    stream = "humanities"
else:
    stream = "no stream allotted based on given criteria"
    

print("stream alloted:", stream)

enter your english marks:  85
enter your math marks:  85
enter your science marks:  55
enter your social studies marks:  60

stream alloted: commerce

In [51]:
'''Q8. Write a program to display "Hello" if a number entered
by user is a multiple of five, otherwise print "Bye"?'''

num = int(input("enter your number"))
if num % 5 == 0:
    print("hello")
else:
    print("bye")

enter your number 24

bye

In [19]:
import webbrowser
user_name = "Alok2609"
user_pass = "Alok912002"

user_id = input("enter your id").capitalize()
pass_word = input("enter your password")

if user_name == user_id and user_pass == pass_word:
    print("access pass")
    webbrowser.open("www.google.com")

else:
    print("decline try again")

enter your id alok2609
enter your password Alok912002

access pass

In [15]:
student_marks = int(input("enter your marks"))

if student_marks >= 90:
    print("A")
elif student_marks >= 80:
    print("B")
else:
    print("fail")

enter your marks 79

fail